<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
	<meta name="color-scheme" content="dark light">
	<title>Barman . Techa - Precision in profits, inventory, & insights for Growth!.</title>
    <link rel="icon" href="./static/showcase/img/logos/favicon.svg">
	<link rel="canonical" href="https://barman.techa.tech" />
	<link rel="stylesheet" type="text/css" href="./static/showcase/css/main.css">
	<link rel="stylesheet" type="text/css" href="./static/showcase/css/utility.css">
	<link rel="stylesheet" href="./static/showcase/npm/bootstrap-icons-1.10.2/font/bootstrap-icons.css">
	<!--<link rel="stylesheet" href="./static/showcase/v2/css-f-techa-900-700-500-300-401-400-display-swap.css">-->
	<script defer="defer" data-domain="techa.tech" src="./static/showcase/js/script.outbound-links.js"></script>
    <style>
        .middle-yellow {
            --x-middle-color: var(--x-yellow);
            --x-gradient: var(--x-start-color),var(--x-middle-color),var(--x-end-color,rgba(255,187,0,0));
        }
    </style>

</head>

<body class="p-1 p-lg-2">

    <div id="app" class="d-flex flex-column min-h-screen middle-yellow">
        <main class="d-flex flex-grow-1 align-items-center">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="col-lg-7 order-lg-2">
                        <div class="svg-fluid">
                            <img src="./static/showcase/img/ill-1.svg" alt="">
                           <!--- <img src="./static/showcase/img/errors/microscope.svg" alt="">-->
                        </div>
                    </div>
                    <div class="col-lg-5 order-lg-1">
                        <div class="">
                            <h1 class="lh-tight ls-tighter font-bolder display-1 mb-4">
                                Ooops!
                            </h1>
                            <p class="lead lh-relaxed">
                                The page you are looking for could not be found.
                            </p>
                            <div class="my-10">
                                <a href="https://barman.techa.tech" class="btn btn-dark">Return Home</a>
                            </div>
                            <div class="vstack gap-5 w-lg-88">
                                <div class="">
                                    <a href="https://barman.techa.tech/docs" class="h5 link-primary">Developers<i
                                            class="far fa-arrow-right ms-2"></i></a>
                                    <p class="text-sm">
                                        Get intouch with our developers for technical help.
                                    </p>
                                </div>
                                <div class="">
                                    <a href="https://barman.techa.tech/components" class="h5 link-primary">Browse
                                        features <i class="far fa-arrow-right ms-2"></i></a>
                                    <p class="text-sm">
                                        Check out awesome features you enjoy on Barman . Techa - Precision in profits, inventory, & insights for Growth!.
                                    </p>
                                </div>
                                <div class="">
                                    <a href="https://barman.techa.tech/support" class="h5 link-primary">Get our support<i
                                            class="far fa-arrow-right ms-2"></i></a>
                                    <p class="text-sm">
                                        Check out our communication channels.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div
        class="d-flex align-items-center gap-2 position-fixed bottom-0 end-0 mb-6 me-6 px-2 py-2 rounded-pill shadow-4 bg-white z-2">
        <img src="./static/showcase/img/logos/favicon.svg" class="avatar avatar-xs">
        <a href="https://barman.techa.tech" class="me-1 text-heading fw-bold text-xs ls-tight stretched-link"
            target="_blank">Techa Products</a>
    </div>

    <!--<script src="./static/showcase/npm/choices_js/public/assets/scripts/choices.min.js"></script>
    <script src="js/main.js"></script>- -->
</body>

</html>