{% extends 'base.html' %}
{% block title %} Africana {% endblock title %}
{% block page_css %}
<link rel="stylesheet" href="./static/images_2/style.css"/>
{% endblock page_css %}
{% block content %}
<div class="wrapper">
    <div class="main-slider">
       <div class="slider-content parallax position-relative overflow-hidden back-mountent h-100">
          <div class="slider-top-banner">

             <!-- -->
             <div class="container">
               <div class="row no-gutters height-self-center">

                  <div class="col-12  text-center align-self-center">
                     <div class="card text-center">
                        <div class="card-body text-align-center">
                           <h2 class="card-title text-secondary">Africana Management</h2>
                           <a href="{{url_for('auth.signin')}}" target="_blank" 
                           class="btn-doc btn btn-lg btn-outline-primary ml-3">
                              <span><i class="ri-home-4-line"></i> Sign-in to IMS</span></a>

                           <a href="{{url_for('auth.signup')}}" target="_blank" class="btn-doc btn btn-lg btn-outline-success ml-3 mb-2">
                              <span>Register An Account</span></a>
                  <br>
                           <span class="m-4 col-10">Africana is a warm, vibrant spot offering authentic African cuisine and cocktails, 
                              with a menu inspired by diverse regional flavors and a lively 
                              atmosphere enhanced by African music and art.</span>
                        </div>
                        <div class="">
                           <img src="./static/images/layouts/africana_lounge.png" class="img-fluid iq-error-img" alt="">
                        </div>
                     </div>
               </div>

             <!-- -->
          </div>

       </div>
    </div>
          
</div>
{% endblock content %}
{% block page_js %}
{% endblock page_js %}