{% extends 'base.html' %}
<title> {% block title %} expenses . Africana {% endblock title %}</title>
{% block content %}
<div class="wrapper">
	{% include 'incs/sidenav.html' %}
	{% include 'incs/topnav.html' %}
	<div class="content-page">
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-12">
					<div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
						<div>
							<h4 class="mb-3">{{pname}}</h4>
							<p class="mb-0 text-warning">
                                Hey, Africana, your profit will be calculated based on your expenses when generating sales report
                            </p>
						</div>
                    <div>
						<button onclick="switchtab()" class="btn btn-primary generate"><i class="las la-plus mr-2"></i> Report Section</button>
						<button onclick="switchtab1()" class="btn btn-primary add-list"><i class="las la-plus mr-2"></i>New Expenses</button>
                    </div>

					</div>
				</div>
				<div class="card col-12">
					<div class="card-body">
					   
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
						  <li class="nav-item">
							 <a class="nav-link active font-weight-bold" id="pills-expenses-tab" data-toggle="pill" href="#pills-expenses" role="tab" aria-controls="pills-expenses" 
                             aria-selected="true">Expenses</a>
						  </li>
						  <li class="nav-item">
							 <a class="nav-link font-weight-bold text-warning" id="pills-generate-tab" data-toggle="pill" href="#pills-generate" role="tab" aria-controls="pills-generate" 
                             aria-selected="false">Report Section</a>
						  </li>
					   </ul>

					   <div class="tab-content" id="pills-tabContent-2">

						  <div class="tab-pane fade active show" id="pills-expenses" role="tabpanel" aria-labelledby="pills-expenses-tab">
							 <p class="text-warning">Keeping Track Of All Your Business Expenses {{cmonthf}} {{cyear}} </p>
							 <div class="col-lg-12">
								<div class="table-responsive rounded mb-3">
									<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="alert" id="response">..</div>
                                        <form id="xpensesform" action="" method="post">
                                            {{ xpenseform.hidden_tag() }}
											<table class="data-table table mb-0 tbl-server-info dataTable no-footer"
												id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
												<thead class="bg-white text-uppercase">
													<tr class="ligth ligth-data" role="row">
			
														<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
															rowspan="1" colspan="1"
															aria-label="Price: activate to sort column ascending"
															style="width: 96.2812px;">S/N</th>
			
														<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
															rowspan="1" colspan="1"
															aria-label="Product: activate to sort column ascending"
															style="width: 292.219px;">Department</th>
														<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
															rowspan="1" colspan="1"
															aria-label="Code: activate to sort column ascending"
															style="width: 106.125px;">Cost</th>
														<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
															rowspan="1" colspan="1"
															aria-label="Category: activate to sort column ascending"
															style="width: 113.859px;">Description</th>
														<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
															rowspan="1" colspan="1"
															aria-label="Price: activate to sort column ascending"
															style="width: 96.2812px;">Date Recorded</th>
														<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
															rowspan="1" colspan="1"
															aria-label="Price: activate to sort column ascending"
															style="width: 96.2812px;">Actions</th>
													</tr>
												</thead>
			
												<tbody class="ligth-body">
                                                    {% for s in xpenses %}
                                                    <tr role="row" class="odd">
														<td>{{loop.index}}</td>
                                                        <td id="_dept">
                                                            {% for c in cate %}
                                                            {% for i in c[0] %}
                                                            {% if i|string == s.dept|string %} {{ c[1]}} {% endif %}
                                                            {% endfor %}
                                                            {% endfor %}
                                                        </td>

														{#<td id="_cost"> {{ s.cost|format('0, 0.2f') }} </td>#}
														<td data-cost="{{s.cost}}" id="_cost" class="_cost"> {{ s.cost }} </td>
														<td id="_comment">{{s.comment}}</td>
														<td id="_created">{{s.created}}</td>
                                                        <td>
                                                            <div class="d-flex align-items-center list-action">
                                                                <button onclick="editable(this)" data-id="{{s.id}}"
                                                                    type="button" class="badge border-0 bg-success mr-2"
                                                                    data-toggle="tooltip" data-placement="top" title=""
                                                                    data-original-title="Edit"><i
                                                                        class="ri-pencil-line mr-0"></i></button>
                                                                <button type="button" id="del" onclick="remove(this, '{{s.id}}')"
                                                                    class="badge bg-warning mr-2 border-0" data-toggle="tooltip"
                                                                    data-placement="top" title="" data-original-title="Delete"><i
                                                                        class="ri-delete-bin-line mr-0"></i></button>
                                                            </div>
                                                        </td>
													</tr>
                                                    
													{% endfor %}

												</tbody>
											</table>

                                        </form>
									</div>
								</div>
							</div>
						  </div>


						  <div class="tab-pane fade" id="pills-generate" role="tabpanel" aria-labelledby="pills-generate-tab">
							 <p>Kindly Enter The Date Range You Want To Generate Expenses Report For Below:-</p>
                             <!-- -->
                             <div class="alert" id="range_response">..</div>
							<form id="range-form"  novalidate method="post">
								{{ rangeform.hidden_tag() }}
                                
                             <div class="row">
                                <!--Grid column-->
                                <div class="col-md-4 mb-4">
                                  <div class="md-form">
                                    {% if rangeform.start.errors %}
                                    <div class="invalid-feedback"> {% for error in rangeform.start.errors %}{{ error }} ! {% endfor %}</div>
                                    {% else %}
                                    {{ rangeform.start(class="form-control",  required=True,) }}
                                    {% endif %}
                                    <label for="startingDate">Starting From</label>
                                  </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                  <div class="md-form">
                                    <!--The "to" Date Picker -->
                                    {% if rangeform.end.errors %}
                                    <div class="invalid-feedback"> {% for error in rangeform.end.errors %}{{ error }} ! {% endfor %}</div>
                                    {% else %}
                                    {{ rangeform.end(class="form-control",  required=True,) }}
                                    {% endif %}
                                    <label for="endingDate">Ending at</label>
                                  </div>
                                </div>

                                <div class="col-md-2 mb-4">
                                    <div class="md-form">
                                      {% if rangeform.dept.errors %}
                                      <div class="invalid-feedback"> {% for error in rangeform.dept.errors %}{{ error }} ! {% endfor %}</div>
                                      {% else %}
                                      {{ rangeform.dept(class="form-control") }}
                                      {% endif %}
                                      <label for="dept">Department</label>
                                    </div>
                                  </div>

                                <div class="col-md-2 mb-4">
                                  <div class="md-form">
                                    {% if rangeform.generate.errors %}
                                    <div class="invalid-feedback"> {% for error in rangeform.generate.errors %}{{ error }} ! {% endfor %}</div>
                                    {% else %}
                                    {{ rangeform.generate(class="btn btn-primary", id="rangeform") }}
                                    {% endif %}
                                  </div>
                                </div>
                                  
                              </div>
                              </form>
                              <!--Grid row-->
							  <div class="make-blur" id="reportcard">
							  <div class="card card-block card-stretch card-height print rounded col-12">
								<div class="card-header d-flex justify-content-between bg-primary header-invoice">
									  <div class="iq-header-title">
										 <h5 class="card-title mb-0">Report No:<div id="report_id">#00000</div> </h5>
									  </div>
									  <div class="invoice-btn">
										 <button type="button" class="btn btn-primary-dark mr-2">
											<i class="las la-print"></i> Print Print</button>
										 <button type="button" id="download_pdf" onclick="mkpdf()" class="btn btn-primary-dark">
											<i class="las la-file-download"></i>Download</button>
									  </div>
								</div>
								<div class="card-body">
									  <div class="row">
										 <div class="col-sm-12">                                  
											<img src="{{url_for('static', filename='images/logo.png')}}" class="logo-invoice img-fluid mb-3">
										 </div>
									  </div>
									  <div class="row">
										 <div class="col-sm-12">
											<h5 class="mb-3">Expense Report <div id="report_range_">(start-date -- end-date )</div></h5>
											<div class="table-responsive-sm">
												  <table class="table">
													 <thead>
														<tr>
															<th class="text-center" scope="col">#</th>
															<th scope="col">Expense Date</th>
															<th scope="col">Amount Spent</th>
															<th class="text-center" scope="col">Description</th>
															<th class="text-center" scope="col">Department</th>
														</tr>
													 </thead>

													 <tbody id="initial-tbody">
														<tr id="initial-tr">
															<th class="text-center" scope="row">1</th>
															<td><h6 class="mb-0">Sample-xpense-Date</h6></td>
															<td class="text-left">Sample-Amount Spent</td>
															<td class="text-left">Sample-Description </td>
															<td class="text-center">Sample-Department</td>
														</tr>

													 </tbody>
												  </table>
											</div>
										 </div>                              
									  </div>
									  <div class="row">
										 <div class="col-sm-12">
											<b class="text-danger">Notes:</b>
											<p class="mb-0 text-warning">Hey, (K > Kitchen) (C > Cocktails) (b > Bar)</p>
										 </div>
									  </div>
									  <div class="row mt-4 mb-3">
										 <div class="offset-lg-8 col-lg-4">
											<div class="or-detail rounded">
												  <div class="p-3">
													 <h5 class="mb-3">Report Details</h5>
												  </div>
												  <div class="ttl-amt py-2 px-3 d-flex justify-content-between align-items-center">
													 <h6>Total Spent</h6>
													 <h3 id="total_xpp" class="text-primary font-weight-700">$0000.0</h3>
												  </div>
											</div>
										 </div>
									  </div>                            
								</div>
							 </div>

							</div>

                            </div>

						  </div>

					   </div>
					</div>
				 </div>

			</div>
			<!-- Page end  -->
		</div>
		<!-- Modal Edit -->
		{% include 'incs/modal.html' %}
	</div>

<style>

.make-blur {
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
background-color: #ccc;
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

</style>
{% endblock content %}

{% block page_js %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script> -->
<script src="{{url_for('static', filename='js/html2pdf.bundle.min.js')}}"></script>
<!-- <script src="{{url_for('static', filename='js/pages/xpenses.js')}}"></script> -->

<script>
$(document).ready(() => {

    var newrow =
            `
            <tr role="row" class="even"> 
            
        <td class="d-none">
            {% if xpenseform.item_id.errors %}
            <div class="invalid-feedback"> {% for error in xpenseform.item_id.errors %}{{ error }} ! {% endfor %}</div>
            {% else %}
            {{ xpenseform.item_id(hidden=True, value=0,)}}
            {% endif %} </td>

            <td class="id"><input type='text' value="##" disabled name="id" class='disabled form-control' /></td>

        <td class="cate">{% if xpenseform.dept.errors %}
            <div class="invalid-feedback"> {% for error in xpenseform.dept.errors %}{{ error }} ! {% endfor %}</div>
            {% else %}
            {{ xpenseform.dept(class='form-control') }}
            {% endif %}</td>
    
            <td class="cost">{% if xpenseform.cost.errors %}
            <div class="invalid-feedback"> {% for error in xpenseform.cost.errors %}{{ error }} ! {% endfor %}</div>
            {% else %}
            {{ xpenseform.cost(class='form-control', placeholder='Amount Spent') }}
            {% endif %}</td>
    
            <td class="comment">{% if xpenseform.comment.errors %}
            <div class="invalid-feedback"> {% for error in xpenseform.comment.errors %}{{ error }} ! {% endfor %}</div>
            {% else %}
            {{ xpenseform.comment(class='form-control', placeholder="briefly describe what you spent on") }}
            {% endif %}</td> 

            <td class="created">{% if xpenseform.created.errors %}
            <div class="invalid-feedback"> {% for error in xpenseform.created.errors %}{{ error }} ! {% endfor %}</div>
            {% else %}
            {{ xpenseform.created(class='form-control') }}
            {% endif %}</td> 

            <td class="list_action">
            <div class="d-flex align-items-center list-action">
            <button type="submit" id="save" class="badge badge-info mr-2 border-0" data-toggle="tooltip"
            data-placement="top" title="Save it" data-original-title="Save"><i class="las la-plus mr-0"></i>
            </button> 
            <button type="button" id="cancel" class="badge bg-warning mr-2 border-0" data-toggle="tooltip"
            data-placement="top" title="Cancel" data-original-title="Delete"><i class="ri-delete-bin-line mr-0"></i></button>
    
            </div>
            </td>  
    
        </tr>
                ` ;
    
    var edit_action_btn = `<button type="button" id="edit" class="border-0 badge bg-success mr-2" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="Edit">
                                    <i class="ri-pencil-line mr-0"></i></button>
            `
    
    $(".add-list").click( () => { $("tbody").prepend(newrow); }); // appending dynamic string/<tr> to table tbody
    
    $('tbody').on('click', '#cancel', () => { $('tbody #cancel').parent().parent().parent().remove() });
    
    const url = "{{url_for('endpoint.xpenses_action')}}";
    
    $('#xpensesform').submit((e) => {
            //alert('xpensesform-form-submissions')
            e.preventDefault()
            $('#response').html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
            save_btn = $('#save').html()
            //alert($('td').find('#item_id').val())
            var jqxhr = $.post(url, $('form').serialize());
            jqxhr.done((r) => {
                //alert("ajax success");
                $('#save').html(save_btn); //reset spinning submit-btn
                frondend_save(); //appends-new-row-added()
                if ('undefined' != typeof (r.response)) {
                    $('#response').html((r.response)).addClass(r.flash);
                } else ($('#response').text(r).addClass('alert-success'))
    
    
                if ("undefined" != typeof r.link) {
                    $('#response').append(' -> <br> <a href=' + r.link + '> Continue Here </a>');
                    //$('form').hide();
                }
                if ("undefined" != typeof r.receipt) {
                    $('#response').append('<br> <a href= ' + r.receipt + '> Receipt Here</a>');
                    //$('form').hide();
                }
    
                console.log('response->(' + response.response + 'flash-message (' + response.flash);
    
            });
    
            jqxhr.fail((er) => { //JSON.stringify(err)
                //$('#response').text('oops!!!, Could Not Add This Food. Pls Try Again'+JSON.stringify(er), er).addClass('alert-danger')
                $('#response').text('oops!!!, Could Not Add This Food. Pls Try Again', er).addClass('alert-danger')
                $('#save').html(save_btn); //reset spinning submit-btn
            });
    
            jqxhr.always(() => {
                //alert("ajax complete");
                $('#save').html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
            });
    
    
        });
    
    frondend_save = () => {
                //insted-of rerender, simply replace the input elements with corresponding val()
                variety = $('td').find('input[name=varieties]').val()
                $('td').find('input[name=varieties]').replaceWith(variety)
                opening = $('td').find('input[name=opening]').val()
                $('td').find('input[name=opening]').replaceWith(opening)
                newstock = $('td').find('input[name=newstock]').val()
                $('td').find('input[name=newstock]').replaceWith(newstock)
                qty = $('td').find('input[name=qty]').val()
                $('td').find('input[name=qty]').replaceWith(qty)
                totalstock = $('td').find('input[name=totalstock]').val()
                $('td').find('input[name=totalstock]').replaceWith(totalstock)
                price = $('td').find('input[name=price]').val()
                $('td').find('input[name=price]').replaceWith(price)
                totalsold = $('td').find('input[name=totalsold]').val()
                $('td').find('input[name=totalsold]').replaceWith(totalsold)
                closingstock = $('td').find('input[name=closingstock]').val()
                $('td').find('input[name=closingstock]').replaceWith(closingstock)
                stockamount = $('td').find('input[name=stockamount]').val()
                $('td').find('input[name=stockamount]').replaceWith(stockamount)
    
                $('td').find('#save').replaceWith(edit_action_btn)
            }
    
    editable = (item_btn) => {
    
        let tr = $(item_btn).closest('tr');
        let item_id = $(item_btn).attr('data-id')
        
        const type = $(tr).find("#_dept").text();
        //const cost = $(tr).find('#_cost').text();
        const cost  = $(tr).find('#_cost').data("cost"); //find-by-id(#_cost), and get the (data-cost) attribute value for better manipulations/calculations 
        const comment = $(tr).find("#_comment").text();
        const created = $(tr).find("#_created").text();
        //alert(cost)
        $(tr).replaceWith(newrow);

        $('td').find('#item_id').val(item_id)
        $('td').find('#type').val(type)
        $('td').find('#cost').val(cost)
        $('td').find('#comment').val(comment)
        $('td').find('#created').val(dtformata(created))
        //for-categori(es)
        $('td').find('#type option').each((k, v) => {
            if ($.trim(v.textContent) == $.trim(type)) {
                //$('td').find('#type').prepend('<option selected value='+v+'>'+ v.textContent +'</option>');
                //$('#type option').prop('selected', true)
                //$('#type option:eq(1)').prop('selected', true)
                $('#type option:contains('+v.textContent+')').prop('selected', true)
                //$('.selDiv option:contains("Selection 1")')
            }
        });
        //alert($('td').find('#type').val())
        //$("div.id_100 select").val("val2").change();
        //console.log(item_id, type, cost, comment, created)
    }
    
    dtformata = (dt) => {
       let options = { year: 'numeric', month: '2-digit', day: '2-digit' };
        var date = new Date(dt); // create a Date object from the string
        var formattedDate = date.toLocaleDateString('en-CA', options); // use the toLocaleDateString method
        return formattedDate
    }

    remove = (del_btn, item_id) => {
    
    _confirm = confirm('This Product/Food Will Be Deleted/Removed, Are You U Really Wanna Do This ?')
    
    if (!_confirm) { return } //true/false
    
    $('#response').html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i> deleting');
    
    //del_btn = $('#del').html()
    del_btnhtml = $(del_btn).html()
    
    let url = "{{url_for('endpoint.xpenses_action')}}"
    url += "?item_id=" + item_id + "&action=del"
    
    //var jqxhr = $.delete(url);
    var jqxhr = $.ajax({
                url: url,
                type: "DELETE", // Assuming this is a DELETE request, adjust as needed
                headers: {
                    "X-CSRFToken": window.csrfToken, // Include the CSRF token in the headers
                },
            });
    
    jqxhr.done((r) => {
    
        $(del_btn).closest('tr').remove()
        //console.log($(del_btn).closest("tr").html())
    
        $(del_btn).html(del_btnhtml); //reset spinning submit-btn
        //frondend_save(); //appends-new-row-added()
    
        if ('undefined' != typeof (r.response)) {
            $('#response').html((r.response)).addClass(r.flash);
        } else ($('#response').text(r).addClass('alert-success'))
    
        if ("undefined" != typeof r.link) {
            $('#response').append(' -> <br> <a href=' + r.link + '> Continue Here </a>');
        }
        if ("undefined" != typeof r.receipt) {
            $('#response').append('<br> <a href= ' + r.receipt + '> Receipt Here</a>');
        }
    
        //console.log('response->(' + r.response + 'flash-message (' + r.flash); 
    
    });
    
    jqxhr.fail((er) => {
        $('#response').text('oops!!!, Could Not Remove This Food, Request failed. Pls Try Again', er).addClass('alert-danger')
        $(del_btn).html(del_btnhtml);
    });
    
    jqxhr.always(() => {
        //alert("ajax complete");
        $(del_btn).html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
    });
    
    
    }
    
    });
    
</script>

<script>
$(document).ready( () => {
const url = "{{url_for('endpoint.xpenses_action')}}";
$('#range-form').submit((e) => {
    //salert('it is sales_range-form')
	e.preventDefault()

	if( ( $('form #start').val() || $('form #end').val() ) == ""){
		$('#range_response').html('Kindly Specify The Date Range You Want To Generate Kitchen Report For').addClass('alert-warning');
		$('#start').focus()
		$('#start, #end').addClass('border-warning');
		return;
		}

	$('#range_response').html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
	generate_btn = $('#rangeform').html()
	//alert('submitted')
	var jqxhr = $.post(url, $('form').serialize());

	jqxhr.done((r) => {
		$('#generate').html(generate_btn); //reset spinning submit-btn
		if ('object' == typeof (r) ) {
            //#[0->x_itemes, 1->x_total, 2->report-id, 3->date-range, 4->s_total, 5->est_profit, 6-xps-count]
			//alert(r[4] +' and '+ r[4][0])
            $('#range_response').html(JSON.stringify(r))
			//console.log(JSON.stringify(r))
			
			$('#total_xp, #total_xpp').text(r[1]) 
			$('#total_s').text(r[4]) 
			$('#profit').text(r[5])
			$('#report_id').text('#'+ r[2]) 
			$('#report_range_').text(r[3][0] +' and '+ r[3][1])
			$('#initial-tr').remove()
			$('.make-blur').removeClass('make-blur')

			r[0]?.map( (data, x) => {
			$('#initial-tbody').append(
			`
				<tr>
					<th class="text-center" scope="row">${x}</th>
					<td><h6 class="mb-0">${data.created}</h6></td>
					<td id="_cost" class="_cost text-left">${data.cost}</td>
					<td class="text-center">${data.comment}</td>
					<td class="text-center">${data.dept}</td>
				</tr>
			` )

			});
			
						//format-prices/amounts in 1 seconds
    		setTimeout(function() {
            var newElements = $(this).find("._cost, #_price, #_sprice, #total_xpp");
            //format-price/amount when you switch to next paginated page
    		function formatAmount(amount, currencyCode){ return new Intl.NumberFormat('en-US', {
            style: 'currency', currency: currencyCode }).format(amount).replace(currencyCode, '₦');
            }
            function applyFormattingToElements(elements) {
            //function applyFormattingToElements(elements) {
            elements.each( function() {
            //var originalAmount = parseFloat($(this).text());
            // Example preprocessing to remove non-numeric characters
            var originalAmountString = $(this).text().replace(/[^\d.-]/g, '');
            var originalAmount = parseFloat(originalAmountString);
            var formattedAmount = formatAmount(originalAmount, 'NGN');
            $(this).text(formattedAmount);
            });
            }
            //format-prices/amounts in 1 seconds
            applyFormattingToElements($("#format-amt, #sub_total, #sub_total1,#total_xpp, #cost_total, #profit, #_cost, #_price, #_sprice, #_total"));
            }, 1000);
			
			if(r[0]){return $('#range_response').html('Your Report Is Ready, You can download if you want to').removeClass('alert-danger').addClass('alert-success')};

    }

		if ('undefined' != typeof (r.response)){
			$('#range_response').html((r.response)).addClass(r.flash);
		}else ( $('#range_response').text(r).addClass('alert-warning') )

		if ("undefined" != typeof r.link){
			$('#range_response').append(' - - <br> <a href=' + r.link + '> Continue Here </a>');
			//$('form').hide();
		}
		if("undefined" != typeof r.receipt){
			$('#range_response').append('<br> <a href= ' + r.receipt + '> Receipt Here</a>');
			//$('form').hide();
		}
		$('#response').html(JSON.stringify(r))
		console.log('response->(' + r.response + 'flash-message (' + r.flash );
	});

	jqxhr.fail((er) => { //JSON.stringify(err)
		$('#range_response').text('oops!!!, Could Not Generate This Report At The Moment. Pls Try Again', er ).addClass('alert-danger')
		$('#submit').html(generate_btn); //reset spinning submit-btn
	});

	jqxhr.always(() => {
		//alert("ajax complete");
		$('#generate').html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
	});

	});
});


mkpdf = () => {
	//$(this).html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
	$('#download_pdf').html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
	html2pdf()
		.set({
		//margin: 2,
		filename: "xpenses.pdf",
		image: { type: "jpeg", quality: 0.9 },
		enableLinks : true,
		jsPDF: { format: "A4", orientation: "landscape"},
		//margin: [10, 30, 10, 10],
		margin: [4, 0, 0, 10],
			autoPaging: 'text',
			/* x: 0,
			y: 0, */
		})
		.from(document.getElementById("reportcard"))
		.save();
		//$(this).remove('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
		$('#download_pdf').html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
		//alert('now')
};

</script>


{% endblock page_js %}